* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: url(./images/#);
  background-size: cover;
  background-position: center;
}

.main-box {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 50px;
}

.main-box:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(images/arrow) no-repeat;
  background-size: 5%;
  left: 5%;
  top: 48%;
  transform: rotate(90deg);
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid whitesmoke;
  overflow: hidden;
  transition: all ease-in-out 5s;
  transform: rotate(90deg);
}

span {
    width: 100%;
    height: 100%;
  display: inline-block;
  position: absolute;
}

.span1 {
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background-color: green;

}
.span2 {
    clip-path: polygon(0 17%, 30% 0, 50% 50%);
    background-color: red;

}
.span3 {
    clip-path: polygon(71% 0, 100% 18%, 50% 50%);
    background-color: blue;

}
.span4 {
    clip-path: polygon(30% 0, 71% 0, 50% 50%);
    background-color: salmon;

}
.span5 {
    clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
    background-color: orange;

}

.box2 .span3{ 
    background-color: lightgreen;
}
.box2 {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.box2 .span1 {
    background-color: darkgray;
}

.font {
    color: white;
    font-size: 20px;
}

.box1 .span1 h5 {
    position: absolute;
    top: 40%;
    right: 63%;
    transform: rotate(200deg);
    text-align: center;

}

.box1 .span2 h5 {
    position: absolute;
    top: 30%;
    right: 57%;
    transform: rotate(-130deg);
    text-align: center;

}
.box1 .span3 h5 {
    position: absolute;
    top: 22%;
    right: 13%;
    transform: rotate(-55deg);
    text-align: center;

}
.box1 .span4 h5 {
    position: absolute;
    top: 25%;
    right: 41%;
    transform: rotate(-90deg);
    text-align: center;
    border: 1px solid black;

}
.box1 .span5 h5 {
    position: absolute;
    top: 42%;
    right: 20%;
    transform: rotate(-15deg);
    text-align: center;

}

.box2 .span1 h5 {
    position: absolute;
    top: 38%;
    right: 62%;
    transform: rotate(200deg);
    text-align: center;
    border: 1px solid black;

}
.box2 .span2 h5 {
    position: absolute;
    top: 32%;
    right: 56%;
    transform: rotate(-130deg);
    text-align: center;
    border: 1px solid black;

}
.box2 .span3 h5 {
    position: absolute;
    top: 31%;
    right: 29%;
    transform: rotate(-55deg);
    text-align: center;
    border: 1px solid black;

}
.box2 .span4 h5 {
    position: absolute;
    top: 22%;
    right: 35%;
    transform: rotate(-90deg);
    text-align: center;
    border: 1px solid black;

}
.box2 .span5 h5 {
    position: absolute;
    top: 41%;
    right: 15%;
    transform: rotate(-15deg);
    text-align: center;
    border: 1px solid black;

}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: lightblue;
    color: white;
    box-shadow: 0 5px 20px black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}
.spin:active {
    width: 70px;
    height: 70px;
    font-size: 15px;

}

.main-box.animate:after {
    animation: animateArrow 700ms ease infinite;

}
audio {
    display: none;
}

@keyframes animateArrow {
    50% {
        right: -50px;

    }
}






























